In [ ]:
# Import all necessary libraries
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
store_data = pd.read_csv(r"C:\Users\kiyo3001\Desktop\Personal\Python\Store_Data\retail_store_sales.csv")  #Load the dataset
store_data.head()    # Display First Five Rows

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False

In [ ]:

store_data.columns = (
    store_data.columns
    .str.strip()                     # Remove Spaces
    .str.lower()                     # Convert To Lowercase
    .str.replace(' ','_')            # Replace Spaces With Underscores
)
print(store_data.columns)            # Display The Column Names

Index(['transaction_id', 'customer_id', 'category', 'item', 'price_per_unit',
       'quantity', 'total_spent', 'payment_method', 'location',
       'transaction_date', 'discount_applied'],
      dtype='object')

In [ ]:
store_data.shape                    # Display The Shape Of The Dataset

(12575, 11)

In [ ]:
store_data.info()                   # Display The Info Of The Dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    12575 non-null  object
 1   customer_id       12575 non-null  object
 2   category          12575 non-null  object
 3   item              11362 non-null  object
 4   price_per_unit    11966 non-null  float64
 5   quantity          11971 non-null  float64
 6   total_spent       11971 non-null  float64
 7   payment_method    12575 non-null  object
 8   location          12575 non-null  object
 9   transaction_date  12575 non-null  object
 10  discount_applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [ ]:
store_data.duplicated().sum()        # Check For Duplicated Rows

np.int64(0)

In [ ]:
store_data.isna().sum()           # Check For Missing Values

transaction_id         0
customer_id            0
category               0
item                1213
price_per_unit       609
quantity             604
total_spent          604
payment_method         0
location               0
transaction_date       0
discount_applied    4199
dtype: int64

In [24]:
store_data['item']= store_data['item'].fillna('Unknown Item')    # Fill Missing Values In 'item' Column With 'Unknown Item'


medians= store_data.groupby('item')[['price_per_unit','quantity']].median()        # Calculate Median Of 'price_per_unit' And 'quantity' Grouped By 'item'
for col in ['price_per_unit','quantity']:
    store_data[col]= store_data[col].fillna(store_data['item'].map(medians[col]))   # Fill Missing Values In 'price_per_unit' And 'quantity' Columns With Corresponding Median Values

store_data['total_spent']= store_data['price_per_unit'] * store_data['quantity']    # compute 'total_spent' By Multiplying 'price_per_unit' And 'quantity'

store_data['discount_applied'] = store_data['discount_applied'].fillna(store_data['discount_applied'].mode()[0])  # Fill Missing Values In 'discount_applied' Column With Mode)

C:\Users\kiyo3001\AppData\Local\Temp\1\ipykernel_20576\2184779698.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  store_data['discount_applied'] = store_data['discount_applied'].fillna(store_data['discount_applied'].mode()[0])  # Fill Missing Values In 'discount_applied' Column With Mode)

In [25]:
store_data.isna().sum()           # Check For Missing Values

transaction_id      0
customer_id         0
category            0
item                0
price_per_unit      0
quantity            0
total_spent         0
payment_method      0
location            0
transaction_date    0
discount_applied    0
dtype: int64

In [32]:
store_data['transaction_date'] = pd.to_datetime(store_data['transaction_date'])  # Convert 'transaction_date' To Datetime Format

In [ ]:
store_data.to_csv(r"C:\Users\kiyo3001\Desktop\Personal\Python\Store_Data\cleaned_reatil_sales.csv")     # Save The Cleaned Dataset