### Customer Segmentation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv(r"C:\Users\kiyo3001\Desktop\Personal\Python\csv\cleaned_retail_sales.csv")
df['transaction_date'] = pd.to_datetime(df['transaction_date'])
df.head()

,Unnamed: 0,transaction_id,customer_id,category,item,price_per_unit,quantity,total_spent,payment_method,location,transaction_date,discount_applied,year,month
0,0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10,185.0,Digital Wallet,Online,2024-04-08,True,2024,4
1,1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9,261.0,Digital Wallet,Online,2023-07-23,True,2023,7
2,2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2,43.0,Credit Card,Online,2022-10-05,False,2022,10
3,3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9,247.5,Credit Card,Online,2022-05-07,True,2022,5
4,4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7,87.5,Digital Wallet,Online,2022-10-02,False,2022,10

In [ ]:

# 1. Most frequent customers with average spending and top category (Regular Customers)
customer_stats = df.groupby('customer_id').agg(
    Frequency=('transaction_id', 'count'),
    Avg_Spending=('total_spent', 'mean')
).reset_index()

# Find most purchased category for each customer
most_category = df.groupby(['customer_id', 'category']).size().reset_index(name='count')
most_category = most_category.sort_values(['customer_id', 'count'], ascending=[True, False])
most_category = most_category.groupby('customer_id').first().reset_index()

# Merge stats with category
customer_stats = customer_stats.merge(most_category[['customer_id', 'category']], on='customer_id')

# Sort by frequency
most_frequent_customers = customer_stats.sort_values(by='Frequency', ascending=False).head(10)
print("Most Frequent Customers:")
print(most_frequent_customers)

Most Frequent Customers:
   customer_id  Frequency  Avg_Spending                            category
4      CUST_05        544    128.965993                           Beverages
23     CUST_24        543    131.626151                                Food
12     CUST_13        534    129.598315                                Food
7      CUST_08        533    131.895872                           Beverages
8      CUST_09        519    124.566474                       Milk Products
14     CUST_15        519    127.110790                          Patisserie
15     CUST_16        515    131.999029                           Beverages
22     CUST_23        513    132.677388  Computers and electric accessories
0      CUST_01        507    123.080868  Computers and electric accessories
19     CUST_20        507    127.449704                           Furniture

In [ ]:
# 2. Top 10 customers by highest total sales with top category (VIP customers)
top_customers = df.groupby('customer_id').agg(
    Total_Sales=('total_spent', 'sum')
).reset_index()

top_customers = top_customers.merge(most_category[['customer_id', 'category']], on='customer_id')
top_10_customers = top_customers.sort_values(by='Total_Sales', ascending=False).head(10)
print("\nTop 10 Customers by Total Sales:")
print(top_10_customers)

Top 10 Customers by Total Sales:
   customer_id  Total_Sales                            category
23     CUST_24      71473.0                                Food
7      CUST_08      70300.5                           Beverages
4      CUST_05      70157.5                           Beverages
12     CUST_13      69205.5                                Food
22     CUST_23      68063.5  Computers and electric accessories
15     CUST_16      67979.5                           Beverages
21     CUST_22      66261.0                       Milk Products
9      CUST_10      66161.5  Computers and electric accessories
14     CUST_15      65970.5                          Patisserie
20     CUST_21      65384.0                                Food